<% @posts.each do |x| %>
   <div class="white">
      <%= image_tag x.image.url(:medium) %>
      <br>
      <%= x.description %>
      <%= link_to 'Delete', x, method: :delete %>
   </div>

<% end %>
