// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.good_dog{
  font: bold 14px Arial;
  height: 40px;
  width: 80px;
  text-decoration: none;
  background-color: #233f8c;
  color: #ffffff;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  position: absolute;
  left: 332px;
  top: 200 px
}

.great_dog{
  font: bold 14px Arial;
  height: 40px;
  width: 80px;
  text-decoration: none;
  background-color: #233f8c;
  color: #ffffff;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  position: absolute;
  left: 752px;
  top: 200 px
}